body {
    font-family: "Roboto Condensed", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F1ED;
    background-size: cover;
    text-align: center;
}

/* Estilos para el encabezado */
header {
    font-family: "Kanit", sans-serif;
    background-color: #930A0A;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

/* Estilos para la barra de navegación */
nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    background-color: #7D8491;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin: 0;
    position: relative;
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
}

nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li ul li {
    display: block;
}

nav ul li:hover ul {
    display: block;
}

/* Estilos para el contenido principal */
main {
    /* Relleno interno del contenido principal */
    padding: 1rem;
}

/* Estilos para el pie de página */
footer {
    font-family: "Bebas Neue", sans-serif;
    /* Color de fondo del pie de página */
    background-color: #7D8491;
    /* Color del texto en el pie de página */
    color: #fff;
    /* Alineación del texto en el centro */
    text-align: center;
    /* Relleno interno del pie de página */
    padding: 1rem 0;
    /* Fija el pie de página en la parte inferior de la página */
    position: fixed;
    bottom: 0;
    width: 100%;
}
 .slider-container {
            max-width: 500px;
            max-height: 300px;
            margin: 0 auto;
            position: relative;
            overflow: hidden;
        }
        .slider-content {
            display: flex;
            transition: transform 1s ease;
            width: 100%; /* Ajusta el ancho según el número de imágenes */
        }
        .slider-item {
            flex: 0 0 100%; /* Cada imagen ocupa el 100% del contenedor */
        }
        .slider-item img {
            width: 500px; /* Las imágenes se ajustan al ancho del contenedor */
            height: 300px;
        }
        .prev, .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            padding: 16px;
            margin-top: -22px;
            color: white;
            font-weight: bold;
            font-size: 18px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
        }
        .next {
            right: 0;
            border-radius: 3px 0 0 3px;
        }
         .prev {
            left: 0;
            border-radius: 3px 0 0 3px;
        }
        .prev:hover, .next:hover {
            background-color: rgba(0,0,0,0.8);
        }
     .Unsplash {
            background: grey;
            padding: 40px;
            margin: 50px auto;
            max-width: auto;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
        }
        .Unsplash h1 {
            text-align: center;
            color: white;
        }
        .Unsplash p {
            line-height: 1.6;
            color: white;
        }
